#form{
    text-align: center;
    width:50%;
    padding: 24px;
    margin: 0 auto;
    border: solid 1px;


}
#icons{
    margin: auto;
    padding: 2px;
    margin: 0 auto;
    border:solid 1px;
    min-width: auto;

}
#form2{
    text-align: center;
    width:50%;
    padding: 24px;
    margin: 0 auto;
    border: solid 1px;
}
#table{
    border: solid 5px;width: 400px;
    border-collapse:separate;border: 1px;
    th{border: 1px solid ;}
    td{border: 1px solid;}
}
#button{
    background-color: black;
    color: white;width: 550px;
}

